<div class="panel panel-default">
    <div class="panel-body">
  
      <form id="movie-edit" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="title">Movie Title:</label>
            <input
              type="text"
              id="name"
              class="form-control"
              size="120"
              max="120"
              name="title"        
              [ngModel] = movie?.title
              required
              #title = "ngModel">
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
              <label for="title">Movie Score:</label>
              <input
                type="text"
                id="score"
                class="form-control"
                size="120"
                max="120"
                name="score"        
                [ngModel] = movie?.score>
            </div>
          </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="description">Movie Rating</label>
            <input
              type="text"
              id="rating"
              class="form-control"
              size="120"
              max="255"
              name="rating"
              ngModel
              [ngModel] = movie?.rating
            >
          </div>
        </div>
          <div class="row">
          <div class="col-sm-12 form-group">
            <label for="description">Movie Review</label>
            <input
              type="text"
              id="review"
              class="form-control"
              size="120"
              max="255"
              name="review"
              ngModel
              [ngModel] = movie?.review
              #review = "ngModel">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="imgurl">Image URL:</label>
            <input
              type="text"
              id="imgurl"
              class="form-control"
              size="150"
              max="255"
              name="imgurl"
              required
              ngModel
              [ngModel]= movie?.imgurl
              #imgurl = "ngModel"
              >
              <div class="alert alert-danger" *ngIf="!title.valid  || !imgurl.valid || !review.valid">
                The Movie Title, image url, review and score are required!
              </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" 
            [disabled]="!f.valid">Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
  
      </form>
  
    </div>
  </div>
  
  